<!--コメント文の表示-->
      <ul class="comment-form" <%= @comment.id %>>
       <% post.comments.each do |comment| %>
        <li class="comment" style="list-style: none;">
         <div class="avatar"><%= attachment_image_tag(comment.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg") %></div>
         <div class="comment-author"><%= comment.user.name %></div>
         <div class="comment-text"><%= comment.comment %></div>
        </li>


       <!--コメントの削除ボタン-->
        <li class="button" style="list-style: none;">
         <% if current_user == comment.user %>
          <div><%= link_to "Destroy", post_comment_path(comment.id, comment.post), method: :delete, local: true, class: "btn btn-danger" %></div>
         <% end %>
        </li>
       <% end %>
      </ul>

       <!--コメントフォーム欄-->
       <%= form_with(model:[post, @comment], local: true) do |f| %>
　　    <div class="row">
    　　　<div class="col-sm-12">
      　<%= f.text_area :comment, rows:'5', class: "form-control" %>
      　 <%= f.submit "送信", class:"btn btn-default pull-right" %>
　　　<% end %>
　　　  </div>
  　　  　</div>