<h1>ユーザー一覧</h1>
  <table class="table">
    <thead>
      <th>ユーザー</th>
      <th colspan="1"></th>
      <th>投稿数</th>
      <th>フォロー・フォロワー</th>
    </thead>
    <tbody>
     <% users.each do |user| %>
      <tr>
       <td><%= attachment_image_tag user, :profile_image, :fill, 70, 70, class: "img-circle", fallback: "no_image.jpg" %></td>
       <td><%= user.name %></td>
       <td class="glyphicon glyphicon-pencil">：<%= user.posts.count %></td>
       <td>フォロー数：<%= user.follower.count %></td>
       <td>フォロワー数：<%= user.followed.count %></td>
         <% unless user == current_user %>
       <td id="follow_buttons<%= user.id %>" ><%= render 'relationships/relationship', { user: user} %></td>
         <% end %>
       <td><%= link_to "詳細表示", user_path(user), class:"btn btn-default" %></td>
      </tr>
       <% end %>
       <%= paginate users %>
    </tbody>
  </table>

