<h2><span class="under" style= "background: linear-gradient(transparent 70%, #ffa500 70%); text-shadow: 1px 1px 2px gray">Users</span></h2>
  <table class="table">
    <thead>
      <th>ユーザー</th>
      <th colspan="1"></th>
      <th>投稿数</th>
      <th>フォロー・フォロワー</th>
    </thead>
    <tbody>
      <tr>
       <% users.each do |user| %>
       <td><%= attachment_image_tag user, :profile_image, :fill, 70, 70, class: "img-circle", fallback: "no_image.jpg" %></td>
       <td><%= user.name %></td>
       <td class="glyphicon glyphicon-pencil">：<%= user.posts.count %></td>
       <td>フォロー数：<%= user.follower.count %></td>
       <td id="follower-count<%= user.id %>"><%= render 'relationships/follower-count', { user: user} %></td>
         <% unless user == current_user %>
       <td id="follow_buttons<%= user.id %>" ><%= render 'relationships/relationship', { user: user} %></td>
         <% end %>
       <td><%= link_to "詳細表示", user_path(user), class:"btn btn-default" %></td>
      </tr>
       <% end %>
    </tbody>
  </table>
  <%= link_to "全てのユーザーを見る", users_path, class:"btn btn-info pull-right" %>


