 <div class="col-xs-9">
  <h1>ユーザー一覧</h1>
　<table class="table">
　  <thead>
　    <th>ユーザー</th>
　  </thead>
　  <tbody>
　    <% @users.each do |user| %>
　    <tr>
       <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no-image-mini.jpg" %></td>
       <td><%= user.name %></td>
       <td>投稿数：<%= user.posts.count %></td>
       <td>フォロー数：<%= user.follower.count %></td>
       <td>フォロワー数：<%= user.followed.count %></td>
       <td>
        <% unless user == current_user %>
         <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
         <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
         <% end %>
        <% end %>
       </td>
       <td><%= link_to "詳しく見る", user_path(user) %></td>
　    </tr>
　    <% end %>
　  </tbody>
　</table>
　</div>
</div>
