<div class="row">
  <div class="col-xs-12">
    <h2>あなたのプロフィール</h2>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
   <table class="table, class:"col-xs-6"">
    <tr>
     <th><h4>ユーザーネーム： </h4></th>
     <th><%= @user.name %></th>
    </tr>
    <tr>
     <th><h4>自己紹介文： </h4></th>
     <th><%= @user.intoduction %></th>
    </tr>
    </table>
   <br>
   <br>
    <% if @user.id == current_user.id %>
    <%= link_to  "プロフィールを編集", edit_user_path(@user), class:"col-xs-4 btn btn-default" %>
    <% end %>
  </div>
</div>
<br>
<div class="row">
     <div class="col-xs-12">
       <h2>あなたの投稿</h2>
        <% @posts.each do |post| %>
         <div class="row post-image"><%= attachment_image_tag post, :image, :fill, 100, 100, fallback: "no_image.jpg" %></div>
         <div class="row post-body"><%= post.body %></div>
         <div class="row post-genre"><%= post.genre_status %></div>
         <!--コメント数の表示-->
         <div class="row post-comment">コメント数：<%= post.comments.count %>件</div>
         <!--いいね数の表示-->
         <div class="row post-like" style="glyphicon glyphicon-heart">いいね数：<%= post.likes.count %>件</div>
         <%= link_to "詳細表示", post_path(post.id), class:"btn btn-default" %>
        <% end %>
      </div>
    </div>

