<div id="box" style="margin-bottom: 50px;">
   <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
    <div class="image6"></div>
    <div class="image7"></div>
    <div class="image8"></div>
   </div>
</div>

<div class="container">
  <div class="row" style="text-align:center; letter-spacing: 0.2rem; margin: 50px; text-shadow: 1px 1px 2px gray; ">
    <h2><span>Health Supportとは？</span></h2>
      <h4 style="line-height: 5rem;"><span class="under" style= "background: linear-gradient(transparent 70%, #ffc0cb 70%);">
       「あなたの毎日をちょっと健康に」</span>をコンセプトに、あなたの健康管理をサポートするSNSです。<br>
       ダイエットや筋トレを頑張る仲間を見つけたり、毎日の体重を記録することもできます。
      </h4>
  </div>
  <div class="row how-to-box" style="border-top: medium solid grey; border-bottom: medium solid grey; margin-bottom: 60px;">
  <div class="row">
    <h2 style="text-align:center; margin: 50px; text-shadow: 1px 1px 2px pink" >✔️ How to use？</h2>
  </div>
  <div class="row">
    <div class="box-container col-xs-12">
     <div class="row box1" style="margin-left:5%; margin-bottom: 70px;">
       <div class= "box1-text col-xs-5" style="border: double 5px #4ec4d3; margin:20px; letter-spacing: 0.2rem; padding: 20px 0; padding-right:20px;　line-height: 5rem;">
         <ul><strong style="font-size: 17px;">1.投稿する</strong>
          <li style="margin-top:15px;">写真やコメントを投稿することができます。 </li>
          <li>投稿は「ダイエット」や「食事」などカテゴリで検索できます。</li>
          <li>他のユーザーの投稿をお気に入り登録できます。</li>
         </ul>
       </div>
       <div class="box1-image col-xs-5"><%= image_tag 'スマホとパソコン.jpg' %></div>
     </div>
     <div class="row box2" style="margin-bottom: 70px;">
      <div class="box2-image col-xs-5" style="margin-left:7%;"><%= image_tag 'SNS.jpg' %></div>
      <div class= "box2-text col-xs-5" style="border: double 5px #4ec4d3; margin: 20px; letter-spacing: 0.2rem; padding: 20px 0; padding-right:20px;　line-height: 5rem;">
        <ul><strong style="font-size: 17px;">2.仲間と繋がる</strong>
          <li style="margin-top:15px;">他のユーザーをフォローしたり、投稿にいいねやコメントを送ることもできます。</li>
          <li>一緒に頑張る仲間を見つけて、モチベーション維持に役立てましょう！</li>
        </ul>
      </div>
     </div>
     <div class="row box3" style="margin-left:5%; margin-bottom: 70px;">
      <div class= "box3-text col-xs-5" style="border: double 5px #4ec4d3; margin:20px; letter-spacing: 0.2rem; padding: 20px 0; padding-right:20px;　line-height: 5rem;">
        <ul><strong style="font-size: 17px;">3.体重を記録</strong>
          <li style="margin-top:15px;">カレンダーを用いて、視覚的にわかりやすく、体重を管理することができます。</li>
          <li>ログイン後、画面右上の「体重を記録」から登録/確認が行えます。</li>
        </ul>
      </div>
      <div class="box3-image col-xs-5"><%= image_tag 'カレンダー.jpg' %></div>
     </div>
    </div>
  </div>
  </div>

  <% if user_signed_in? %>
  <div class="row-post"><%= render 'posts/index', posts: @posts %></div>
  <div class="row user-index" style="margin-bottom: 30px;"><%= render 'users/index', users: @users %></div>
  <% else %>
  <div class="jumbotron" style="background-color:#fffacd; box-shadow: 3px 3px 3px rgba(0,0,0,0.3);">
    <div class="row" style="text-align:center;">
      <h2 style=" text-shadow: 1px 1px 2px gray">さあ、あなたも健康的な毎日を始めよう！</h2>
      <div class="link" style="margin: 20px;">
       <%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary" %>
       <%= link_to 'ログイン', new_user_session_path, class:"btn btn-primary" %>｜
       <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-success" %>
      </div>
      <p>ログインすると全ての仲間の投稿が見れたり、自分も投稿できるようになります。</p>
    </div>
    <div class="row"><%= render 'posts/rank', all_ranks: @all_ranks %></div>
  </div>
  <% end %>
</div>
