<div class="container">
 <div class="row">
  <div id="box">
   <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
    <div class="image6"></div>
    <div class="image7"></div>
    <div class="image8"></div>
   </div>
  </div>
</div>


<div class="row">
<h2>Health Supportとは？</h2>
<p>「毎日をちょっと健康に」をコンセプトに、あなたの健康管理をサポートするSNSです。<br>
ダイエットや筋トレを頑張る仲間を見つけたり、毎日の体重を記録することもできます。</p>
</div>

<div class="row">
<h2>何ができるの？</h2>
<p>・体重の記録<br>
・フォロー機能<br>
・お気に入り機能<br>
</p>
<br>
<br>

</div>
<% if user_signed_in? %>
<div class="row-post">
    <%= render 'posts/index', posts: @posts %>
      </div>
  </div>

  <div class="row user-index">
     <%= render 'users/index', users: @users %>
　</div>
<% else %>
<div class="jumbotron">
<div class="row">
<h2>さあ、あなたも健康的な毎日を始めよう！</h2>
<%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary" %>
<%= link_to 'ログイン', new_user_session_path, class:"btn btn-primary" %>｜
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-primary" %>
<br>
<br>

<p>ログインすると仲間の投稿が見れたり、自分も投稿できるようになります。</p>
<br>
<br>
</div>
</div>


<%= render 'posts/rank', all_ranks: @all_ranks %>
<% end %>


</div>
