<div class= "container">
<div class= "row">
<div class= "col-xs-5">

 <h4>体重を記録する</h4>
<%= render 'records/new', record: @record %>


<br>
<br>

<table>
  <thead>
    <tr>
      <th>時間</th>
      <th>体重</th>
      <th>メモ</th>

    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.start_time.strftime("%Y/%m/%d %H:%M") %></td>
        <td colspan="1"></td>
        <td><%= record.weight %>kg</td>
        <td><%= record.memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>



</div>

<div class= "col-xs-7">
<%= month_calendar events: @records do |date, records| %>
  <%= date.day %>

  <% records.each do |record| %>
    <div>
      <%= link_to record.weight, record %>kg
    </div>
  <% end %>
<% end %>
</div>
</div>



</div>