<div class="container">
  <div class="row">
    <div class="col-xs-12" style="margin: 10px 40%;">
      <h3><span class="under" style= "background: linear-gradient(transparent 70%, #ffa500 70%);">記録の詳細</span></h3>
        <div class="row" style="margin-bottom: 10px;"><strong>日時：</strong><%= @record.start_time.strftime("%Y-%m-%d %H:%M") %></div>
        <div class="row" style="margin-bottom: 10px;"><strong>体重：</strong><%= @record.weight %></div>
        <div class="row" style="margin-bottom: 10px;"><strong>メモ：</strong><%= @record.memo%></div>
        <div class="row" style="margin-bottom: 10px;">
          <%= link_to '編集', edit_record_path(@record), class:"btn btn-primary" %>
      　   <%= link_to '削除', record_path(@record), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %>
        </div>
        <div class="row"><%= link_to '戻る', records_path, class:"btn btn-default btn-sm"  %></div>
    </div>
  </div>
</div>