<p>
  <strong>日時</strong>
  <%= @record.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>体重</strong>
  <%= @record.weight %>kg
</p>

<p>
  <strong>メモ</strong>
  <%= @record.memo%>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %> |
<%= link_to 'destroy', record_path(@record), method: :delete, data: {confirm: "本当に消しますか？"} %>