<h2><span class="under" style= "background: linear-gradient(transparent 70%, #ffa500 70%);">Recently Posts</span></h2>

 <% posts.each do |post| %>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail" style= "box-shadow: 3px 3px 3px rgba(0,0,0,0.3);">
     <%= attachment_image_tag post, :image, :fill, 200, 200, class:"img-rounded", fallback: "no-image.png", style: "width: 100%;" %>
    <div class="caption" style="padding: 25px;">
      <div class="row">
        <%= link_to user_path(post.user) do %>
         <%= attachment_image_tag(post.user, :profile_image, :fill, 60, 60, class: "img-circle", fallback: "no-image-mini.jpeg", style: "float: left;") %>
         <span><%= post.user.name %></span>
        <% end %>
      </div>
      <div class="row">
        <%= post.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div class="row">
        カテゴリ：<%= post.genre_status %>
      </div>
      <div class="row">
        <!--コメント数の表示-->
        <div class= "glyphicon glyphicon-comment">：<%= post.comments.count %>件</div>
        <!--いいね数の表示-->
        <div id="likes_buttons<%= post.id %>" ><%= render 'likes/like', { post: post} %></div>
        <%= link_to "詳細表示", post_path(post.id), class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= link_to "全ての投稿を見る", posts_path, class:"btn btn-info pull-right" %>


<% if posts.empty? %>
  投稿がありません
<% end %>



