<div class="container">
   <div class="row">
     <div class="col-xs-4">
       <h1>投稿一覧</h1>


       <div class="search-form">
　　　　<%= form_tag(posts_path, method: "get") do %>
　　　　<p>カテゴリで絞り込む</p>
　　　　<%= select_tag :genre_status, options_for_select(Post.genre_statuses) %>
　　　　<%= submit_tag "検索" %>
　　　　<% end %>
　　　</div>


        <% @posts.each do |post| %>
        <div class="row post-user">
         <%= link_to user_path(post.user) do %>
		       <%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpeg") %>
		       <%= post.user.name %>
	        <% end %>

         </div>
         <div class="row post-image"><%= attachment_image_tag post, :image, :fill, 100, 100, fallback: "no_image.jpg" %></div>
         <div class="row post-body"><%= post.body %></div>
         <div class="row post-genre"><%= post.genre_status %></div>
         <%= link_to "詳細表示", post_path(post.id), class:"btn btn-default" %>
        <% end %>

      </div>
    </div>
</div>