<div class="container">
 <div class="row">
   <div class="col-xs-12">
    <div class="form-group">
  <%= form_with model:@post, local: true do |f| %>
  <div class="row form-image"><h4>画像</h4><%= f.attachment_field :image, class:"col-xs-3" %></div><br>
  <div class="row form-body"><h4>コメント</h4><%= f.text_area :body, class:"col-xs-3", placeholder:"コメントここに" %></div>
　<div class="row form-genre">
　 <h4>ジャンル</h4><%= f.select :genre_statuses, Post.genre_statuses.keys, {prompt: '選択してください'}, class: "form-control, col-xs-3" %>
　 </div>
  <br>
  <div class="row form-submit"><%= f.submit '投稿する', class:"btn btn-primary col-xs-3" %></div>
  <% end %>
  </div>
</div>
</div>
</div>