<div class="container">
 <div class="row">
    <h1>投稿詳細</h1>
      <div class="row post-image"><%= attachment_image_tag @post, :image, :fill, 100, 100, fallback: "no_image.jpg" %></div>
      <div class="row post-body"><h6>コメント：</h6><%= @post.body %></div>
      <div class="row post-genre"><h6>カテゴリ：</h6><%= @post.genre_status %></div>
      <div class="row post-date"><h6>投稿日時：</h6><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></div>
      <div class="row post-destroy">
      <% if current_user == @post.user %>
      <%= link_to "投稿を削除", post_path(@post.id), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %>
      <% end %>
      </div>
      <br>
      <!--コメント数の表示-->
      <div class="row post-comment">コメント数：<%= @post.comments.count %>件</div>
      <!--いいね数の表示-->
      <div class="row post-like">
       <% if @post.liked_by?(current_user) %>
         いいね：<%= link_to @post.likes.count, post_likes_path(@post), method: :delete, local: true, class: "glyphicon glyphicon-heart"  %>
       <% else %>
         いいね：<%= link_to @post.likes.count, post_likes_path(@post), method: :post, local: true, class: "glyphicon glyphicon-heart-empty" %>
       <% end %>
      </div>
      <!--お気に入り登録・解除-->
      <div>
        <% if @post.favorite_by?(current_user) %>
           <%= link_to "お気に入り解除",post_favorites_path(@post),method: :delete %>
        <% else %>
            <%= link_to "お気に入り登録",post_favorites_path(@post),method: :post %>
        <% end %>
      </div>
 </div>
</div>

　　<!--コメント文の表示-->
<ol>
  <% @post.comments.each do |comment| %>
    <li class="comment">
      <%= link_to user_path(comment.user) do %>
       <div class="comment-image"><%= attachment_image_tag(comment.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg") %></div>
       <div class="comment-text">
       <div class="comment-author"><%= comment.user.name %></div>
      <% end %>
       <span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
       <div class="comment-body"><%= comment.comment %></div>
       <% if comment.user == current_user %>
        <div><%= link_to "コメントを削除", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-danger pull-right" %></div>
       <% end %>
        </div>
    </li>
  <% end %>
</ol>


<!--コメント入力フォーム-->
<%= form_with(model:[@post, @comment], local: true) do |f| %>
<!--バリデーション-->
<% if @comment.errors.any? %>
  <div id="error_explanation" class="alert alert-warning">
    <ul class="mb-0">
      <% @comment.errors.full_messages.each do |message| %>
        <li>
        <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>