<div class="container">
     <h1>投稿詳細</h1>
 <div class="row">
<div class="col-xs-12">

 <div class="row post-form" style="border-bottom:1px solid;">
   <div class="col-xs-5">
      <div class="row post-image"><%= attachment_image_tag @post, :image, :fill, 200, 200, fallback: "no_image.jpg" %></div><br><br>
      <!--コメント数の表示-->
      <div class="row post-comment">コメント数：<%= @post.comments.count %>件</div>
    </div>

 <div class="col-xs-5">
      <div class="row post-date"><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></div>
      <div class="row post-genre">カテゴリ：<%= @post.genre_status %></div>
      <div class="row post-body"><%= @post.body %></div>
       <!--いいね数の表示-->
      <div class="row post-like">
       <% if @post.liked_by?(current_user) %>
         いいね：<%= link_to @post.likes.count, post_likes_path(@post), method: :delete, local: true, class: "glyphicon glyphicon-heart"  %>
       <% else %>
         いいね：<%= link_to @post.likes.count, post_likes_path(@post), method: :post, local: true, class: "glyphicon glyphicon-heart-empty" %>
       <% end %>
      </div>
      <!--お気に入り登録・解除-->
      <div>
        <% if @post.favorite_by?(current_user) %>
           <%= link_to "お気に入り済",post_favorites_path(@post),method: :delete, class:"glyphicon glyphicon-star" %>
        <% else %>
            <%= link_to "お気に入りに追加",post_favorites_path(@post),method: :post, class:"glyphicon glyphicon-star-empty" %>
        <% end %>
      </div>
   </div>

    <div class="col-xs-2">
      <% if current_user == @post.user %>
      <%= link_to "投稿を削除", post_path(@post.id), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %>
      <% end %>
    </div>

 </div>





 <div class="row comment-form">
      　　<!--コメント文の表示-->
<ol style="list-style:none">
  <% @post.comments.each do |comment| %>
    <li class="row comment">
      <div class="col-xs-4 comment-image">
        <%= link_to user_path(comment.user) do %>
         <div class="row comment-auher"><%= attachment_image_tag(comment.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg") %></div>
         <div class="row comment-auher"><%= comment.user.name %></div>
         <% end %>
      </div>
      <div class="col-xs-8 comment-text">
          <div class="row comment-date"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
          <div class="row comment-body"><%= comment.comment %></div>
          <% if comment.user == current_user %>
          <div class="row"><%= link_to "", post_comment_path(comment.post, comment), method: :delete, class: "glyphicon glyphicon-trash" %></div>
          <% end %>
      </div>
    </li>
  <% end %>
</ol>

<!--コメント入力フォーム-->
<%= form_with(model:[@post, @comment], local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %><!--バリデーション-->
<%= f.text_area :comment, rows:'3', class: "form-control",placeholder: "コメントをここに" %>
<%= f.submit "送信", class: "col-xs-2 btn btn-default pull-right" %>
<% end %>


 </div>

 </div>
</div>
</div>
