<!DOCTYPE html>
<html>
  <head>
    <title>HealthSupport2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <div class="navbar navbar-fixed-top navbar-default">
   <div class="container">
    <nav class="nav navbar-nav navbar-left" style= "color :white;">
      <h3>HealthSupport</h3>
    </nav>

    <nav>
     <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn" style= "color :#ffffff;">
    <% if user_signed_in? %>
      <li class="">
    　 <span class="glyphicon glyphicon-home" aria-hidden="true">
        <%= link_to 'TOP', root_path %>
       </span>
      </li>
      <li class="list-unstyled">
        <span class="glyphicon glyphicon-user" aria-hidden="true">
        <%= link_to 'マイページ', user_path(current_user.id) %>
        </span>
      </li>
      <li class="list-unstyled">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
        <%= link_to 'お気に入り', favorites_users_path(current_user.id) %>
        </span>
      </li>
      <li class="list-unstyled">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
        <%= link_to '投稿する', new_post_path %>
        </span>
      </li>
      <li class="list-unstyled">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </span>
      </li>
    <% else %>
    　<li class="">
    　  <span class="glyphicon glyphicon-home" aria-hidden="true">
        <%= link_to 'TOP', root_path %>
       </span>
      </li>

      <li class="">
        <span class="glyphicon glyphicon-edit" aria-hidden="true">
        <%= link_to "新規登録", new_user_registration_path %>
        </span>
      </li>
      <li class="">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true">
        <%= link_to "ログイン", new_user_session_path %>
        </span>
      </li>
    <% end %>
     </ul>
    </nav>
   </div>
  </div>
 </header>

  </br>
  </br>

 <body>
  </br>

  <div class="container">
   <div class="row">
   <div class="notifications">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: key) %>
  <% end %>
</div>

    <%= yield %>
  </div>
 </div>
</body>

  </br>
  </br>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">©2020Health Support</p>
    </div>
  </footer>



</html>
